In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("top_paying_jobs.csv")
df.head()

,job_id,job_title,firm_name,salary_year_avg,skills
0,552322,Associate Director- Data Insights,AT&T,255829.5,sql
1,552322,Associate Director- Data Insights,AT&T,255829.5,python
2,552322,Associate Director- Data Insights,AT&T,255829.5,r
3,552322,Associate Director- Data Insights,AT&T,255829.5,azure
4,552322,Associate Director- Data Insights,AT&T,255829.5,databricks

In [29]:
x = df.skills.value_counts()

In [37]:
x

skills
sql           8
python        7
tableau       6
r             4
snowflake     3
pandas        3
excel         3
azure         2
bitbucket     2
go            2
oracle        2
power bi      2
confluence    2
gitlab        2
atlassian     2
jira          2
aws           2
numpy         2
jenkins       1
sap           1
crystal       1
flow          1
hadoop        1
powerpoint    1
jupyter       1
pyspark       1
databricks    1
git           1
Name: count, dtype: int64